body {
  background: #333; }

.container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  flex-direction: column; }

.test {
  width: 500px;
  height: 500px;
  background-color: blue; }

.wrapper {
  width: 500px;
  height: 500px;
  margin-left: 500px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  overflow: hidden; }

.wave {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 120%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.75);
  animation: wave 15s infinite linear; }

@keyframes wave {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }

/* 
  .card{
    background-color: #2ECC71;
    width: 200px;
    height: 300px;
    margin-left: 10vw;
    box-shadow: -1px -1px 5px #ffffff73, 1px 1px 5px #00000040;
    border: 0.05px solid #2ECC71;
    transform: rotate(-1deg) skew(1deg) scale(1);
    transition:cubic-bezier(1, 0, 0, 1);
  } */
